input{
    margin-left: 4%;
}

h1{
    margin-left: 4%;
}

.voca_add{ 
    display: inline-flex;
    border:1px solid;
    margin-left: 4%;
}

.voca_input{
    all: none;
}

.make{
    width: 4%;
    height: 3%;
    margin-left: 4%;
}

.file_text{
    margin-left: 4%
}

