h1{ 
    margin-left: 4%;
}

.voca_add{ /* div 박스 */
    display: flex;
    flex-wrap: wrap;
    border:1px solid;
    height: 5%;
    width: 40%;
    margin-left: 4%;
}

.voca_add:hover{
    background: aliceblue;
}


.make {
    float: right;
    margin-right: 60%;
    margin-bottom: 5%;
    height: 50px;
    line-height: 47px;  
    width: 50px; 
    font-size: 2em; 
    border-radius: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;
    all: none;
  }

.file_text{
    margin-left: 4%
}

#file{
    all:none;
}

#title{
    height: 3%;
    width: 30%;
}

#detail{
    height: 3%;
    width: 30%;
}

#title:hover{
    background-color: aliceblue;
    outline: none;
}

#title:focus{
    outline:none;
}

#detail:hover{
    background-color: aliceblue;
    outline: none;
}

#detail:focus{
    outline:none;
}