#View_meanList{
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
}

.View_mean{
    width: 400px;
    display: flex;

    align-items: center;

    border: 1px gray solid;
    border-radius: 5px;
    box-shadow: rgb(211, 211, 211) 0px 0px 5px;
    margin: 10px;
    padding: 10px;

    transition: all 500ms;
}

.View_mean:hover{
    cursor: pointer;

    background-color: #dbdbdb;
}

.View_mean > span{
    font-size: 40px;
    margin-right: 20px;
}

.View_meanRight > h2{
    margin: 0px
}