#C_noteList{
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
}

.C_notebox{
    width: 400px;
    display: flex;

    align-items: center;

    border: 1px gray solid;
    border-radius: 5px;
    box-shadow: rgb(211, 211, 211) 0px 0px 5px;
    margin: 10px;
    padding: 10px;

    transition: all 500ms;
}

/* .C_notebox:hover{
    cursor: pointer;

    background-color: #dbdbdb;
} */

.C_notebox > span{
    padding: 10px;
    margin-right: 20px;

    border: 1px gray solid;
    border-radius: 5px;

    font-size: 40px;

    box-shadow: rgb(211, 211, 211) 0px 0px 5px;
    transition: all 500ms;
}

.C_notebox > span:hover{
    cursor: pointer;

    background-color: #dbdbdb;
}

.C_noteRight > h2{
    margin: 0px
}