#A_in_screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#A_bodyMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    
    animation-duration: 500ms;
    animation-name: slidein-back;
}

/* 과거기록 */
#A_recentList{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}
#A_recentList > span{
    font-size: 50px;
}

/* recent */
.A_bodyItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 500px;
    margin: 10px;
    border: 1px solid;
    border-radius: 7px;
    margin: 10px;
    overflow: hidden;

    font-size: 20px;

    box-shadow: rgb(209, 209, 209) 0px 0px 8px;

    transition: all 500ms;

    animation-duration: 500ms;
    animation-name: slidein;
}

.A_bodyItem > span{
    font-size: 20px;
    font-weight: bold;

    animation-duration: 500ms;
    animation-name: slidein-span;
}


@keyframes slidein {
    from {
        font-size: 4px;
        width: 100px;
    }
  
    to {
        font-size: 20px;
        width: 500px;
    }
}

@keyframes slidein-span {
    from {
        font-size: 4px;
    }
  
    to {
        font-size: 20px;
    }
}

@keyframes slidein-back{
    from{
        width: 40%;
    }

    to {
        width: 100%;
    }
}